*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Raleway", sans-serif;
}

a {
	text-decoration: none;
}

section {
	padding: 15px;
}

body {
	-webkit-transition: 1.1s cubic-bezier(.75, 0, 0, 1);
	transition: 1.1s cubic-bezier(.75, 0, 0, 1);
	position: relative;
	right: 0;
}

/*
[class*="c-"]{

}*/

.bold {
	font-weight: bold;
}

.set-accessories {
	position: absolute;
}

.text-center {
	text-align: center;
}

.line-height {
	width: 50px;
	height: 3px;
	margin: 0 auto;
	background:#0a947b;
}

.header {
	overflow: hidden;
	z-index: 5;
	position: relative;
	background:url(../img/header.png);
}

.text-right {
	text-align: right;
}

.bar {
	width: 150px;
	height: 2px;
	width: 50px;
	margin: 10px;
	background-color: #0a947b;
	transition: .45s cubic-bezier(.75, 0, 0, 1);
}

.bar2 {
	width: 150px;
	height: 2px;
	width: 60px;
	margin: 10px;
	background-color: #0a947b;
	transition: .6s cubic-bezier(.75, 0, 0, 1);
}

.menu {
	position: absolute;
	right: -70%;
	color: #0a947b;
	font-family: "Century Gothic";
	transition: .55s cubic-bezier(.75, 0, 0, 1);
	font-size: 24px;
	top: 10px;
}

.main-burger{
	transform: rotateY(180deg);
	width: 70px;
	height: 60px;
	float: right;
	overflow: hidden;
	padding-top: 7px;
}

.burger {
	transition: 1s cubic-bezier(.75, 0, 0, 1);
	cursor: pointer;
}

.burger:hover .menu{
	right: 4%;
}

.nav-side {
	position: fixed;
	top:0;
	right: -450px;
	background-color: #0a947b;
	overflow-x: hidden;
	width: 360px;
	height: 100%;
	-webkit-transition: 1.1s cubic-bezier(.75, 0, 0, 1);
	transition: 1.1s cubic-bezier(.75, 0, 0, 1);
	z-index: 10;
}

.overlay2 {
	position: fixed;
	top: 0;
	right: -360px;
	background-color: #fdff72;
	overflow-x: hidden;
	width: 360px;
	height: 100%;
	-webkit-transition: 1s cubic-bezier(.75, 0, 0, 1);
	transition: 1s cubic-bezier(.75, 0, 0, 1);
	z-index: 10;
}

.close {
	position: absolute;
	right: 32px;
	top: 22px;
	width: 32px;
	height: 32px;
	transition: .3s ease;
	cursor: pointer;
}
.overlay:hover .close{
	transform: rotateZ(90deg);
}
.close:before, .close:after {
	position: absolute;
	left: 15px;
	content: ' ';
	height: 33px;
	width: 3px;
	background-color: #fff;
}
.close:before {
	transform: rotate(45deg);
}
.close:after {
	transform: rotate(-45deg);
}

.body-overlay {
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: -30;
	opacity: 0;
	background-color: rgba(0,0,0,0.9);
	transition: all 1s;
}

.overlay {
	width: 100%;
	padding: 40px;
	cursor: pointer;
	background-color: #074e41;
}

.main-navbar ul li a {
	padding: 25px 20px;
	display: block;
	color: #fff;
	transition: all 0.1s ease;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
}

.main-navbar ul li a:hover {
	background-color: #0a7965;
}

.show-on {
	cursor: pointer;
}

.fa-angle-right {
	font-size: 15px !important;
	margin-left: 5px;
}

.dropdown-nav ul {
	display: none;
}

.dropdown-nav ul li {
	padding-left: 10px;
}

/*news hero section*/
.news-hero {
	width: 100%;
	overflow: hidden;
	padding: 200px 0px;
	background:url(../img/news-hero.png) no-repeat;
	background-position: center;
	border-bottom: 3px solid #0a947b;
}

.header {
	padding: 15px;
	border-bottom: 3px solid #0a947b;
}

.burger:hover .bar, .burger:hover .bar2{
	transform: translateX(200%);
}

.title-content {
	margin-bottom: 90px;
}

.title-content h2 {
	margin-bottom: 12px;
}

/*content*/

.content {
	position: relative;
	padding: 30px 15px;
}

.content-accessories {
	left: 32%;
	top: 25px;
	z-index: 0;
}

.list-content {
	text-align: center;
	padding: 10px 0px;
	vertical-align: top;
}

.list-content h2 {
	font-size: 18px;
}

/*.list-content:hover h2 {
	color: #fff;
}*/

.list-content h2 {
	font-size: 17px;
	font-weight: bold;
	color: #0a947b;
}

/*news*/
.news {
	position: relative;
	background-color: #ececec;
}

@media(max-width: 768px){
	.burger:hover .menu{
		display: none;
	}

	.content-accessories {
		left: 0%;
	}
}

@media(width: 1024px) and (height: 1366px){
	.burger:hover .menu{
		display: none;
	}
}

/*for ipad */
@media(width: 768px) and (height: 1024px){
	.content-accessories {
		left: 17%;
	}
}

.news-container {
	background-color: #fff;
}

.news-image {
	border-bottom: #0a947b;
}

.news-item {
	padding: 20px;
}

.news-item h2 {
	font-size: 18px;
}

.news-item p {
	
}